.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.form {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  width: fn.rem(500);
  min-height: fn.rem(500);
  text-align: center;
}
