VITE_FIREBASE_APIKEY="replaceme"
VITE_FIREBASE_AUTHDOMAIN="replaceme"
VITE_FIREBASE_PROJECTID="replaceme"
VITE_FIREBASE_STORAGEBUCKET="replaceme"
VITE_FIREBASE_MESSAGINGSENDERID="replaceme"
VITE_FIREBASE_APPID="replaceme"
VITE_FIREBASE_MEASUREMENTID="replaceme"